

.activities-finder {
  width: 100vw;

  max-height: 350px;
  margin:  20px auto;

  text-align: center;
  background-color: #1A237E;
  /* Slightly transparent background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
  
  /* Ensure it takes the full height of the viewport */
}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInWordByWord {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.activities-finder:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.activities-finder-title {
  font-size: 3rem;
  margin-bottom: 60px;
  background: linear-gradient(45deg, #7b1fa2, #f06292);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  /* border: 3px solid transparent; */
  border-image: linear-gradient(45deg, #7b1fa2, #f06292);
  border-image-slice: 1;
  /* animation: fadeInUp 1s ease-out, glow 1s ease-in-out infinite alternate; */
  cursor: pointer;
  position: relative;
}

.activities-finder-title:hover {
  animation: bounce 0.6s ease-in-out;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}

/* Fade In Up Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Bounce Animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

/* Glow Animation */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.4);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.8);
  }
}

/* Rotate and Scale Animation on Click */
.activities-finder-title:active {
  animation: rotateScale 0.3s ease-in-out;
}

/* Rotate and Scale Keyframes */
@keyframes rotateScale {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}


